<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8" />
        <title>パーティ作成</title>
    </head>
    <body>
        <h3>パーティ作成</h3>
            <form th:action="@{/start_2}" method="get" th:object="${player}">
                <tr>
                    <th>パーティ人数：</th>
                    <input type="radio" name="num" value=1 checked>一人
					<input type="radio" name="num" value=2>二人
					<input type="radio" name="num" value=3>三人
					<input type="radio" name="num" value=4>四人<br>
                </tr>
		<button>次へ</button>
       	</form>

    </body>
</html>