<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8" />
        <title>キャラ作成</title>
    </head>
    <body>
        <h3>キャラ作成</h3>
            <form th:action="@{/command}" method="get" th:object="${player}">
                <tr>
                    <th>職業：</th>
                    <input type="radio" name="profession" value="戦士" checked>戦士
					<input type="radio" name="profession" value="魔法使い">魔法使い
					<input type="radio" name="profession" value="武闘家">武闘家<br>
                    <th>名前：</th>
                    <input type="text" name="name"><br>
                </tr>
		<button>次へ</button>
       	</form>

    </body>
</html>